<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Magic Square</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .solid {outline-style: solid;
        background-color:black;
        color:red;
        font-size:25px;
        text-align:center;
    }
    body {background-color: silver;
        font-family: verdana;
        color:blue;
        font-size:15px;
        font-weight:bold;
        }
    </style>
</head>
<body>

<div class="mid">
<h2><center>Magic Square</center></h2>
<form method="POST">
        {% csrf_token %}
        <h2><center>
        {{form}}
        <button type="submit"><h3>Submit</h3></button>
        </h2></center>
</form>

<br><br><br>
</div>
<center>
    <h><a href="/">Home</a></center></h>
</center>
</body>
</html>
