<!doctype html>
<html>
<head>
<style>
.solid {outline-style: solid;
    background-color:black;
    color:red;
    font-size:30px;
    text-align:center;
}
body {background-color: silver;
    font-family: verdana;
    color:blue;
    font-size:20px;
    font-weight:bold;
    }

img {
    max-height: 250px;
    max-width: 210px;
    align=right
    }
</style>
</head>
<body>

<h1 class="solid">Welcome to the web world of Manu</h1>

<h2> <center>Hello eveyone.. Geetings!!! <center></h2>
<p>Like everyone else I am also excited to have my own pages on Internet,though having a
website now is as easy as having humans around us!! This is the first time I am working on developing website.</p>

<p></p>Started with developing a small python program for a magic square which actually interest me to get an idea to see the solution on a web page as a table.
Magic square program is about filling an odd numbered square table with non-repeatable numbers satisfying a condition of managing same total across any row and column including main diagonal.
</p>

<h><center><a href="puzzle">Play Magic Square</a></center></h>
<br>
<!--<h><center><a href="vjk">My Apartment Maintenance</a></center></h>
<br>
<h><center><a href="docapp">My Hospital</a></center></h>
<br>-->
<h><center><a href="tambola">Tambola Game</a></center></h>
<br>

</body>
</html>
